# Drizzle (DB)
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DB_NAME?sslmode=verify-full"

# General Next Auth (Auth)
NEXTAUTH_SECRET="6yNKzq8VzPKbbhF17xSIBqIE25QCJgs/l/UOE6UuhGE=" # generate using `openssl rand -base64 64`
NEXTAUTH_URL="http://localhost:3000"

    # Google Auth (Next Auth)
    GOOGLE_CLIENT_ID="0000000000000-abcdefghijklmnopqrstuvwxyz012345.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET="abcdef-abcdefghijklmnopqrstuvwxyz01"

# Posthog (Analytics)
NEXT_PUBLIC_POSTHOG_KEY="phc_abcdefghijklmnopqrstuvwxyz0123456789ABCDEFG"
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"

# Sentry (Error Reporting)
SENTRY_AUTH_TOKEN="abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ01"
SENTRY_ORG="YOUR_ORG"
SENTRY_PROJECT="YOUR_PROJECT"
NEXT_PUBLIC_SENTRY_DSN="https://abcdefghijklmnopqrstuvwxyz012345@abcdefghijklmnopq.ingest.us.sentry.io/0000000000000000"