# Drizzle (DB)
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DB_NAME?sslmode=verify-full"

# General Next Auth (Auth)
NEXTAUTH_SECRET="abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGH" # generate using `openssl rand -base64 32`
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_ENCRYPTION_KEY="abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGH" # generate using `openssl rand -base64 32`
NEXTAUTH_ENCRYPTION_IV="abcdefghijklmnopqrstuvwx" # generate using `openssl rand -base64 16`

    # Google Auth (Next Auth)
    GOOGLE_CLIENT_ID="0000000000000-abcdefghijklmnopqrstuvwxyz012345.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET="abcdef-abcdefghijklmnopqrstuvwxyz01"

    # Azure Active Directory (Microsoft) Auth (Next Auth)
    AZURE_AD_CLIENT_ID="abcdefgh-abcd-abcd-abcd-abcdefghijkl"
    AZURE_AD_TENANT_ID="abcdefgh-abcd-abcd-abcd-abcdefghijkl"
    AZURE_AD_CLIENT_SECRET="abcdefghijklmnopqrstuvwxyz0123456789ABCD"

# Posthog (Analytics)
NEXT_PUBLIC_POSTHOG_API_HOST="http://localhost:3000/ingest" # We are proxying the Posthog API through the Next.js server; should work for local development
NEXT_PUBLIC_POSTHOG_UI_HOST="https://app.posthog.com"
NEXT_PUBLIC_POSTHOG_KEY="phc_abcdefghijklmnopqrstuvwxyz0123456789ABCDEFG"

# Sentry (Error Reporting)
SENTRY_AUTH_TOKEN="abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ01"
SENTRY_ORG="YOUR_ORG"
SENTRY_PROJECT="YOUR_PROJECT"
NEXT_PUBLIC_SENTRY_DSN="https://abcdefghijklmnopqrstuvwxyz012345@abcdefghijklmnopq.ingest.us.sentry.io/0000000000000000"

# UploadThing (File Uploads)
UPLOADTHING_SECRET=sk_live_abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ01
UPLOADTHING_APP_ID=abcdefghij