@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138.46 76.47% 96.67%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 142.13 76.22% 36.27%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 141.71 76.64% 73.14%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 138.46 76.47% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 138.46 76.47% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 138.46 76.47% 85%;
    --input: 138.46 76.47% 85%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 144.88 20% 5%;
    --foreground: 210 40% 98%;

    --card: 144.88 80.39% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 144.88 80.39% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 142.13 76.22% 36.27%;
    --primary-foreground: 210 40% 98%;

    --secondary: 143.81 61.17% 20.2%;
    --secondary-foreground: 210 40% 98%;

    --muted: 144.88 20% 10%;
    --muted-foreground: 215 20.2% 50%;

    --accent: 144.88 20% 10%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 144.88 20% 10%;
    --input: 144.88 20% 10%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* shadcn/ui typography helpers */
.h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

.h2 {
  @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}

.h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

.h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

.p {
  @apply text-base leading-7 [&:not(:first-child)]:mt-6;
}

.quote {
  @apply mt-6 border-l-2 pl-6 italic;
}

.list {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

.snippet {
  @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

.lead {
  @apply text-muted-foreground text-xl;
}

.large {
  @apply text-lg font-semibold;
}

.small {
  @apply text-sm font-medium leading-none;
}

.muted {
  @apply text-muted-foreground text-xs;
}

/* catalyst helpers */

.lucide {
  @apply size-[1em];
}
